<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="/static/normalize.css" rel="stylesheet" type="text/css" />
    <link href="/static/skeleton.css" rel="stylesheet" type="text/css" />
    <link href="/static/styles.css" rel="stylesheet" />

    <meta name="robots" content="noindex" />

<style>
body {
  font-family: Ubuntu, Arial, sans-serif;
}
span > a {
  color: cyan;
}
span > a:visited {
  color: pink;
}
</style>
  </head>
  <body>
    <h3>Results of id {{ resp.id }}</h3>
    {% if resp['status'] != "ok" %}
      <p>STATUS FAILED. {{resp['status']}}</p>
      {%endif%}
    <ul>
    {% for result in resp['keys'] %}
    <li>{{ result['name'] }} :
      {% if result['archived'] %}
        <span style="background-color: black;color: {{'yellow' if result.metaonly else 'green'}};">Available {{'(metadata only)' if result.metaonly else ''}}
          {{ '(incl. comments)' if result.comments else '' }}
          {% if result['available'] %}<a href="{{result['available']}}" target="_top">(link)</a>
          {% endif %}
        </span>
      {% elif result['error'] %}
        <span style="background-color: black;color: white;">Error</span>
      {% elif not result['archived'] %}
        <span style="background-color: black;color: red;">Not Available</span>
      {% else %}
        <span style="background-color: black;color: white;">Unknown</span>
      {% endif %}
      <br>
      {{ result['note'] }}
    </li>
    {%endfor%}
    </ul>
  </body>
</html>
