<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="/static/normalize.css" rel="stylesheet" type="text/css" />
    <link href="/static/skeleton.css" rel="stylesheet" type="text/css" />
    <link href="/static/styles.css" rel="stylesheet" />

    <meta name="robots" content="noindex" />

<style>
html, body, .content {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
}

p {
    text-align: center;
    width: 100%;
    flex-grow: 1;
}
</style>
  </head>
  <body>
    <div class="container content">
      <p>You are using the noscript fallback. It might not be as polished as the JavaScript-based frontend.</p>
    </div>
  </body>
</html>
