<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="/static/normalize.css" rel="stylesheet" type="text/css" />
    <link href="/static/skeleton.css" rel="stylesheet" type="text/css" />
    <link href="/static/styles.css" rel="stylesheet" />

    <style>
      .content {
        text-align: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div class="container content">
      <p>Awaiting input...</p>
    </div>
  </body>
</html>