<!DOCTYPE html>
<html>
  <head>
    <!-- This is a meta refresh so that the loading screen is shown while the next page is loading -->
    <!-- With a redirect, the browser will not paint until the redirect chain is complete -->
    <meta http-equiv="refresh" content="0; url=/noscript_load_thing.html?id={{id}}" />
    <meta name="robots" content="noindex" />
  </head>
  <body>
    <div class="container">
        <img src="/static/loading.gif" width="25" height="25" />Loading could take up to 45 seconds.</img>
    </div>
  </body>
</html>
