<!DOCTYPE html>
<html lang="en">
<head>
    <title>API Documentation - YouTube Video Archive Search</title>
    <script defer data-domain="findyoutubevideo.thetechrobo.ca"
            src="https://analytic.thetechrobo.ca/js/script.js"></script>
    <link rel="shortcut icon"
          href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAIZJREFUOE+l0tENgCAMBNDrQroXA7GXLnSGxiZYaADpp6GPa1GwWbLZjxC4Emj4meNzDVAaew3R9wYgQJCAtOEEbZLPqXLLkQEFrCroToBPNwYK9CLrgBtjCJTLdAdBDXdgfX7j0QvodDM/EkmKdJ5lFtDRAmQqgaXsIUtAL8ky4JFfQL34BxrdPhGLmIGXAAAAAElFTkSuQmCC">
    <link href="/static/normalize.css" rel="stylesheet">
    <link href="/static/skeleton.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
<div class="container" id="header-section">
    <h4>YouTube Video Finder</h4>
    <p>
        Search several resources for archived YouTube video and metadata
    </p>
    <ul>
        <li><a href="https://github.com/TheTechRobo/youtubevideofinder/">Source code (GitHub)</a></li>
        <li><a href="/">Back to home</a></li>
    </ul>
</div>
<div class="container">
    <div class="banner">
        Please don't spam my servers. Anyone who makes too many requests may be banned. Contact me on Discord
        (username: thetechrobo), IRC (TheTechRobo on hackint, libera.chat, and OFTC), or email (thetechrobo@proton.me) to discuss.
    </div>
    <br>
    <h4>API Documentation</h4>
	<p><b>Please note: The API can be used to embed this site into your own code. If you just want to search for a video, <a href="/">return to the homepage</a>.</b></p>
    <h6>Call: GET <code>/api/:version/:videoid</code></h6>
	<h6>Accepted query string parameters: <code>includeRaw</code> (set to include the <code>rawraw</code> field), <code>stream</code> (stream service objects as they are processed, rather than all at the end)</h6>
    <p>Current versions available: v2, v3, v4. Documentation below only applies to the latest version.</p>
	<u>Changelog</u>
	<div id="changelog">
		<ul>
			<li>API version v3 -&gt; 4:</li>
			<ul id="root_3to4">
				<li>The <code>rawraw</code> field is now only provided if you set the <code>includeRaw</code> parameter.</li>
			</ul>
		</ul>
	</div>
    <b>Fields (non-streamed mode)</b>
    <dl>
        {% if fields is mapping %}
            {% for field, value in fields.items() %}
                <dt><code>{{ field.name }}</code> ({{ field.type }})</dt>
                <dd>{{ value }}</dd>
            {% endfor %}
        {% elif fields is string %}
            {{ fields.strip().replace("\n", "<br>") | safe }}
        {% else %}
            Fail
        {% endif %}
    </dl>
	<b>Streaming protocol</b>
	<p>A stream of JSONL: one json object followed by a newline, then the next, etc. The order of what is sent:
	<ul>
		<li>Object of internal class name to on-screen name. Use this to pre-populate the list. You probably don't need the internal class name - it's only provided in case you need it for e.g. element IDs where the usable character set is limited.</li>
		<li>Service objects (see below), as they are generated.</li>
		<li>Null, to show that we are finished generating the service objects. (You can also use the object of class names, but this probably works better.)</li>
		<li>A verdict.</li>
	</ul>
	<u>NOTE:</u> In both cases, the <code>rawraw</code> field is only set if you set the <code>includeRaw</code> parameter. Example: <code>/api/v4/dQw4w9WgXcQ?includeRaw=true</code>. Please only enable this if you have to, as it will slow down loading.
</div>
<div class="container">
    <b>Service Objects</b>
	<div id="changelog2">
		<u>Changelog</u>
		<ul>
			<li>API version 2 -&gt; 3:</li>
			<ul id="service_2to3">
				<li>The <code>error</code> field is no longer a boolean; it now contains an error message if an error occured and null otherwise</li>
			</ul>
		</ul>
	</div>
    {% if services is mapping %}
        <dl>
            {% for field, value in services.items() %}
                <dt><code>{{ field.name }}</code> ({{ field.type }})</dt>
                <dd>{{ value }}</dd>
            {% endfor %}
        </dl>
    {% elif services is string %}
        {{ services.strip().replace("\n", "<br>") | safe }}
    {% else %}
        fail
    {% endif %}
</div>
<div class="container" id="footer-section">
    <p style="text-align: center;"><i>Website created by <a href="https://thetechrobo.ca">TheTechRobo</a></i></p>
</div>
</body>
<script>initDarkMode()</script>
</html>
