<!DOCTYPE html>
<html>
  <head>
<style>
body {
  font-family: Ubuntu, Arial, sans-serif;
}
</style>
  </head>
  <body>
    <p>Please don't spam my servers - anyone that spams too much may be banned. Contact me on Discord (TheTechRobo#7420) or IRC (TheTechRobo on hackint) to discuss.</p>
    <h1>API Documentation</h1>
    <h3>Call: GET <code>/find/$videoid</code></h3>
    <p>
    <b>Fields</b>
    <br>
    <dl>
      {% for field, value in fields.items() %}
        <dt><code>
            {{ field }}
        </code></dt>
        <dd>{{value}}
        </dd>
      {% endfor %}
    </dl>
    <b>Service Keys</b>
    <p>One object for every service searched.</p>
    <dl>
      {% for field, value in services.items() %}
        <dt><code>{{field}}</code></dt>
        <dd>{{value}}</dd>
      {%endfor%}
    </dl>
  </body>
</html>
