<!DOCTYPE html>
<html>
  <head>
<style>
body {
  font-family: Ubuntu, Arial, sans-serif;
}
</style>
  </head>
  <body>
    <h1>fid is deprecated</h1>
    <i>Well, it wasn't actually ever supported, so...</i>
    <p>While I don't <i>like</i> using JavaScript for the basic site functionality, it makes stuff a lot easier and more modern-feeling.</p>
    <p>If you want to use the data in your own project, and that's why you're looking at this, the API is publicly documented. Please don't spam my servers, though - anyone that spams too much may be banned. Contact me on Discord (TheTechRobo#7420) or IRC (TheTechRobo on hackint) to discuss.</p>
  </body>
</html>
