<!DOCTYPE html>
<html lang="en">
<head>
    <title>YouTube Video Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Easily search for YouTube videos in several archives."/>
    <link rel="shortcut icon"
          href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAIZJREFUOE+l0tENgCAMBNDrQroXA7GXLnSGxiZYaADpp6GPa1GwWbLZjxC4Emj4meNzDVAaew3R9wYgQJCAtOEEbZLPqXLLkQEFrCroToBPNwYK9CLrgBtjCJTLdAdBDXdgfX7j0QvodDM/EkmKdJ5lFtDRAmQqgaXsIUtAL8ky4JFfQL34BxrdPhGLmIGXAAAAAElFTkSuQmCC">
    <link href="/static/normalize.css" rel="stylesheet">
    <link href="/static/skeleton.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <script src="/static/darkmode.js" type="text/javascript"></script>
    <script src="/static/script.js" type="text/javascript"></script>
    <script defer data-domain="findyoutubevideo.thetechrobo.ca" src="https://analytic.thetechrobo.ca/js/script.tagged-events.js"></script>
    <script>
        window.plausible = window.plausible || function () {
            (window.plausible.q = window.plausible.q || []).push(arguments)
        }
    </script>
</head>
<body>
<div class="container" id="header-section">
    <h4>
        YouTube Video Finder
        <span id="theme-select" onclick="toggleDarkness()" title="Toggle Dark Mode" style="float:right;">
            <img src="/static/dark.svg" alt="">
        </span>
    </h4>
    <p>
        Search several resources for archived YouTube video and metadata
    </p>
    <ul>
        <li><a href="https://github.com/TheTechRobo/youtubevideofinder/">Source code (GitHub)</a></li>
        <li><a href="/api">API documentation</a></li>
        <details>
            <summary>How do I use this?</summary>
            <p>This is a website that will help you find a private or deleted YouTube video if you have the link.</p>
            <p><b>If you don't have the link, this site won't help you.</b></p>
            <p>Copy the link and paste it into the box above. Then click "Search for Captures".
                Some of the services this website queries are slow, so be patient.</p>
            <p>
                Once all the services have been queried, the results will appear. The results section
                shows the name of each service, and whether the service has the video or not.
                A link to the archived material will be provided if there is one. If there isn't,
                there should be some extra text provided that sheds some light on how to retrieve it.
            </p>
            <p><b>Metadata</b> is information about the video. This includes the title and description.</p>
            <p>Metadata can be useful for searching further. It's always possible there's a reupload
                of the video that this website simply didn't find, and knowing the title and description
                can be a big help in finding one.
            </p>
            <p>If you have any questions or need further help, contact me! I can be reached by email at
                thetechrobo@proton.me, on IRC with the username TheTechRobo (I'm on Libera.chat,
                hackint, and OFTC), and on Discord with the username thetechrobo.
            </p>
        </details>
    </ul>
</div>
<div class="container" id="input-section">
    <form onsubmit="finishWrpa(document.getElementById('videoInput').value); return false;"
          target="data-frame" action="/noscript_load.html">
        <div class="row">
            <div class="eight columns">
                <input name="d" type="text" id="videoInput" placeholder="Enter video ID here..."
                       value="{{default}}"/>
            </div>
            <div class="four columns">
                <button action="submit" id="submit" class="btn btn-primary">Search for Captures</button>
            </div>
        </div>
    </form>
</div>
<div class="container" id="data-section">
    <div id="data">
        <noscript>
            <iframe name="data-frame" src="/noscript_init.html?d={{default_id}}" style="height:100%;width:100%;">
                Your browser doesn't support JavaScript or iframes.<br/>
                This website requires at least one of them.
            </iframe>
            <style>
                #data-ul {
                    display: none;
                }
                #theme-select {
                    /* TODO: Make the theme selector not require JavaScript */
                    display: none;
                }
            </style>
        </noscript>
        <ul id="data-ul">
            {% for title in methods %}
                <li>{{ title }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="container" id="footer-section">
    <p style="text-align: center;"><i>Website created by <a href="https://thetechrobo.ca">TheTechRobo</a></i></p>
</div>
<script>initDarkMode()</script>
{% if default %}
  <script>finishWrpa("{{default}}");</script>
{% endif %}
</body>
</html>
